<div class="container p-5">
  <div class="card text-left">
    <div class="card-img-left">
      <img [src]="imageUrl" alt="">
    </div>
    <div class="card-body">
      <div class="card-title">
        <h3>{{movie?.name}}</h3>
      </div>
      <div class="card-text">
        <p>{{movie?.description}}</p>        
      </div>      
      <button class="btn btn-primary">Trailer</button>
      <button class="btn btn-success" (click)="onAddToLibrary()">Add to my Library</button>
    </div>
  </div>
</div>