
<div class="row">  
  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
      <nav class="navbar navbar-light bg-info navbar-expand-lg p-0">          
          <ul class="navbar-nav header-menu">
            <div class="header-left-menu">
              <li class="nav-item">
                 <a (click)='onclick()' class="nav-link text-white"><h5>Admin</h5></a>
              </li>
            </div>
            <div class="header-right-menu px-3">
              <li class="nav-item">                   
                  <a class="nav-link" id="sidebarCollapse">
                      <fa-icon [icon]="faAlignJustify" size='lg' rotate='90'></fa-icon>
                  </a>                  
              </li>   
              <li class="nav-item">
                <a class="nav-link">
                  <fa-icon [icon]="faCoffee" size='lg'></fa-icon>
                </a>
              </li>  
            </div>      
          </ul>        
    </nav>
  </div>
</div>