.container{    
    height: 100vh; 
    width: 85%;   
    display: flex;    
}

.load-file-container{
    border: 1px dashed gray;
    padding: 20px;
}

.form-left{
    width: 55%;
    
    
}

.form-right{
    width: 45%;
    
    
}

.star-container{
    outline: none;
}

.star {
    font-size: 30px;
    color: #8f8f8f;
    outline: none;
  }
  .filled {
    color: #fff34d;    
  }

  .rating-container{
      display: flex;
      flex-direction: column;
      
  }
 








