<div class="container-fluid">
<div>
  <h2>Sign Up</h2>
  <p>Please fill in this form to create an account!</p>
</div>

<hr>
<div class="container">
  <form [formGroup]="formSignup" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-md-6 col-lg-6 p-2">
        <input 
          type="text" 
          class="form-control" 
          placeholder="First Name"
          >
      </div>
      <div class="col-md-6 col-lg-6 p-2">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Last Name"
          >
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 p-2">
        <input 
          type="email" 
          class="form-control" 
          placeholder="Email"
          id="email"
          formControlName="email"
          >
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 p-2">
        <input 
          type="password" 
          class="form-control" 
          placeholder="Password"
          id="password"
          formControlName="password"
          >
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5 p-2">
        <button class="btn btn-primary form-control">Sign Up</button>
      </div>    
    </div>  

    <hr>

    <div class="row">
      <div class="col-md-12">
        <p>Already have an account? <span (click)="onBackToLogin()"> Login here. </span></p>
      </div>
    </div>
  </form>
</div>

</div>