<ng-snotify class="material"></ng-snotify>

<div class="wrapper-button">

  <div class="wrapper d-flex">
    <nav id="sidebar">
     
      <ul class="list-unstyled components">
          <li>
              <a routerLink='/all-movies'>All Movies</a>
            </li>

        <li>
          <a routerLink='/add-movie'>Add Movie</a>
        </li>
        
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  
  </div>
  <div class='content'>
    <router-outlet></router-outlet>
  </div>
</div>